In [1]:
import dask.dataframe as dd
import polars as pl

In [2]:
df = dd.read_csv(
    '*.csv',
    assume_missing=True,
    sep=';',
    encoding='latin1',
    dtype={'CPF BENEFICIÁRIO': 'object',
       'NOME MUNICÍPIO': 'object',
       'UF': 'object'
    }
)

In [3]:
df.head()

,MÊS COMPETÊNCIA,MÊS REFERÊNCIA,UF,CÓDIGO MUNICÍPIO SIAFI,NOME MUNICÍPIO,NIS BENEFICIÁRIO,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,NIS REPRESENTANTE LEGAL,CPF REPRESENTANTE LEGAL,NOME REPRESENTANTE LEGAL,NÚMERO BENEFÍCIO,BENEFÍCIO CONCEDIDO JUDICIALMENTE,VALOR PARCELA
0,202401.0,202401.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.625949e+10,***.961.422-**,FRANCIELLE PEREIRA DE OLIVEIRA,7.129945e+09,NÃ,"1412,00"
1,202401.0,202401.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.666814e+10,***.685.574-**,VITORIA VIEGA SILVA,7.138373e+09,NÃ,"1412,00"
2,202401.0,202401.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,2.281272e+10,***.504.118-**,KETHELEN SILVA OLIVEIRA DE SOUSA,7.139963e+09,NÃ,"1412,00"
3,202401.0,202401.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.642368e+10,***.586.572-**,MICHAELE MAGALHAES DA SILVA,7.129073e+09,NÃ,"1412,00"
4,202401.0,202401.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.664900e+10,***.997.695-**,SAIURE DOS SANTOS SOUZA,7.127485e+09,NÃ,"1412,00"

In [4]:
colunas_removiveis = [
    'MÊS REFERÊNCIA',
    'CÓDIGO MUNICÍPIO SIAFI',
    'NIS BENEFICIÁRIO',	
    'CPF BENEFICIÁRIO',
    'NIS REPRESENTANTE LEGAL', 
    'CPF REPRESENTANTE LEGAL', 
    'NOME REPRESENTANTE LEGAL',	
    'NÚMERO BENEFÍCIO'
]

In [5]:
df = df.drop(columns=colunas_removiveis)

In [6]:
df.head()

,MÊS COMPETÊNCIA,UF,NOME MUNICÍPIO,NOME BENEFICIÁRIO,BENEFÍCIO CONCEDIDO JUDICIALMENTE,VALOR PARCELA
0,202401.0,<NA>,<NA>,*** TITULAR MENOR DE 16 ANOS ***,NÃ,"1412,00"
1,202401.0,<NA>,<NA>,*** TITULAR MENOR DE 16 ANOS ***,NÃ,"1412,00"
2,202401.0,<NA>,<NA>,*** TITULAR MENOR DE 16 ANOS ***,NÃ,"1412,00"
3,202401.0,<NA>,<NA>,*** TITULAR MENOR DE 16 ANOS ***,NÃ,"1412,00"
4,202401.0,<NA>,<NA>,*** TITULAR MENOR DE 16 ANOS ***,NÃ,"1412,00"

In [7]:
dd.to_parquet(
    df,
    'dados_parquet',
    engine='pyarrow',
    write_index=False
)