In [1]:
import dask.dataframe as dd

In [6]:
df = dd.read_csv(
    '*.csv',
    assume_missing=True,
    encoding='latin1',
    sep=';',
    dtype={'CPF BENEFICIÁRIO': 'object'}
)

In [7]:
df.head()

,MÊS COMPETÊNCIA,MÊS REFERÊNCIA,UF,CÓDIGO MUNICÍPIO SIAFI,NOME MUNICÍPIO,NIS BENEFICIÁRIO,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,NIS REPRESENTANTE LEGAL,CPF REPRESENTANTE LEGAL,NOME REPRESENTANTE LEGAL,NÚMERO BENEFÍCIO,BENEFÍCIO CONCEDIDO JUDICIALMENTE,VALOR PARCELA
0,202501.0,202501.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.175770e+10,***.417.040-**,LONI CAMICIA,7.144531e+09,NÃ,"1518,00"
1,202501.0,202501.0,AC,643.0,ACRELANDIA,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,2.675610e+10,***.932.472-**,MADALENA GAMA DO CARMO,2.074766e+09,SIM,"1518,00"
2,202501.0,202501.0,AC,643.0,ACRELANDIA,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.683579e+10,***.421.872-**,PATRICIA APARECIDA SIMOES DE SOUZA,7.127187e+09,NÃ,"1518,00"
3,202501.0,202501.0,AC,643.0,ACRELANDIA,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.683479e+10,***.598.812-**,VALDIRENE PEDROSO SOARES,2.241154e+09,SIM,"1518,00"
4,202501.0,202501.0,AC,643.0,ACRELANDIA,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,2.671746e+10,***.558.072-**,GIRLENE SOUSA DE LIMA,7.105520e+09,NÃ,"1518,00"

In [8]:
colunas_removiveis = [
    'MÊS REFERÊNCIA',
    'CÓDIGO MUNICÍPIO SIAFI',
    'NIS BENEFICIÁRIO',
    'CPF BENEFICIÁRIO',
    'NIS REPRESENTANTE LEGAL',
    'CPF REPRESENTANTE LEGAL',	
    'NOME REPRESENTANTE LEGAL', 
    'NÚMERO BENEFÍCIO'
]

In [9]:
df = df.drop(columns=colunas_removiveis)

In [10]:
df.head()

,MÊS COMPETÊNCIA,UF,NOME MUNICÍPIO,NOME BENEFICIÁRIO,BENEFÍCIO CONCEDIDO JUDICIALMENTE,VALOR PARCELA
0,202501.0,<NA>,<NA>,*** TITULAR MENOR DE 16 ANOS ***,NÃ,"1518,00"
1,202501.0,AC,ACRELANDIA,*** TITULAR MENOR DE 16 ANOS ***,SIM,"1518,00"
2,202501.0,AC,ACRELANDIA,*** TITULAR MENOR DE 16 ANOS ***,NÃ,"1518,00"
3,202501.0,AC,ACRELANDIA,*** TITULAR MENOR DE 16 ANOS ***,SIM,"1518,00"
4,202501.0,AC,ACRELANDIA,*** TITULAR MENOR DE 16 ANOS ***,NÃ,"1518,00"

In [11]:
dd.to_parquet(
    df,
    'parquet_dados_bpc',
    engine='pyarrow',
    compression='snappy',
    write_index=False
)