In [1]:
import dask.dataframe as dd

In [2]:
URL = 'C:/Users/lazar/Downloads/*.csv'

In [3]:
df = dd.read_csv(
    URL,
    assume_missing=True,
    sep=';',
    encoding='latin1',
    dtype={'CPF BENEFICIÁRIO': 'object',
           'NOME MUNICÍPIO': 'object',
           'UF': 'object'
    }
)

In [4]:
df.head()

,MÊS COMPETÊNCIA,MÊS REFERÊNCIA,UF,CÓDIGO MUNICÍPIO SIAFI,NOME MUNICÍPIO,NIS BENEFICIÁRIO,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,NIS REPRESENTANTE LEGAL,CPF REPRESENTANTE LEGAL,NOME REPRESENTANTE LEGAL,NÚMERO BENEFÍCIO,BENEFÍCIO CONCEDIDO JUDICIALMENTE,VALOR PARCELA
0,202301.0,202301.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,2.675166e+10,***.400.043-**,MARIA NADINE SARAIVA DE SOUSA,2.077096e+09,SIM,"1302,00"
1,202301.0,202301.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.600270e+10,***.891.900-**,DEBORA ALMEIDA PEREIRA,7.048113e+09,NÃO,"1302,00"
2,202301.0,202301.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.652092e+10,***.634.031-**,LEIA DE FARIA CAETANO,2.012265e+09,SIM,"1302,00"
3,202301.0,202301.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.675889e+10,***.946.838-**,JANECLE SOARES SILVA,7.008136e+09,NÃO,"1302,60"
4,202301.0,202301.0,<NA>,NaN,<NA>,1.167041e+10,***.483.911-**,ADELAIDE MARCIA BUENO DIAS,1.167041e+10,***.483.911-**,ADELAIDE MARCIA BUENO DIAS,5.030052e+09,NÃO,"1302,00"

In [5]:
cols_removidas = [
    'CÓDIGO MUNICÍPIO SIAFI',
    'NIS BENEFICIÁRIO',
    'CPF BENEFICIÁRIO',
    'NOME BENEFICIÁRIO',
    'NIS REPRESENTANTE LEGAL',
    'CPF REPRESENTANTE LEGAL',
    'NOME REPRESENTANTE LEGAL',
    'NÚMERO BENEFÍCIO'
]

In [6]:
df.dtypes

MÊS COMPETÊNCIA                              float64
MÊS REFERÊNCIA                               float64
UF                                   string[pyarrow]
CÓDIGO MUNICÍPIO SIAFI                       float64
NOME MUNICÍPIO                       string[pyarrow]
NIS BENEFICIÁRIO                             float64
CPF BENEFICIÁRIO                     string[pyarrow]
NOME BENEFICIÁRIO                    string[pyarrow]
NIS REPRESENTANTE LEGAL                      float64
CPF REPRESENTANTE LEGAL              string[pyarrow]
NOME REPRESENTANTE LEGAL             string[pyarrow]
NÚMERO BENEFÍCIO                             float64
BENEFÍCIO CONCEDIDO JUDICIALMENTE    string[pyarrow]
VALOR PARCELA                        string[pyarrow]
dtype: object

In [7]:
df = df.drop(columns=cols_removidas)

In [8]:
df.dtypes

MÊS COMPETÊNCIA                              float64
MÊS REFERÊNCIA                               float64
UF                                   string[pyarrow]
NOME MUNICÍPIO                       string[pyarrow]
BENEFÍCIO CONCEDIDO JUDICIALMENTE    string[pyarrow]
VALOR PARCELA                        string[pyarrow]
dtype: object

In [9]:
dd.to_parquet(
    df, 
    './dados/bpc_2023_parquet/', 
    engine='pyarrow', 
    write_index=False
)