In [1]:
import dask.dataframe as dd

In [2]:
URL = 'C:/Users/lazar/Downloads/*.csv'

In [3]:
df = dd.read_csv(
    URL,
    assume_missing=True,
    sep=';',
    encoding='latin1',
    dtype={'CPF BENEFICIÁRIO': 'object',
           'NOME MUNICÍPIO': 'object',
           'UF': 'object'
    }
)

In [4]:
df.head()

,MÊS COMPETÊNCIA,MÊS REFERÊNCIA,UF,CÓDIGO MUNICÍPIO SIAFI,NOME MUNICÍPIO,NIS BENEFICIÁRIO,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,NIS REPRESENTANTE LEGAL,CPF REPRESENTANTE LEGAL,NOME REPRESENTANTE LEGAL,NÚMERO BENEFÍCIO,BENEFÍCIO CONCEDIDO JUDICIALMENTE,VALOR PARCELA
0,202401.0,202401.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.625949e+10,***.961.422-**,FRANCIELLE PEREIRA DE OLIVEIRA,7.129945e+09,NÃ,"1412,00"
1,202401.0,202401.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.666814e+10,***.685.574-**,VITORIA VIEGA SILVA,7.138373e+09,NÃ,"1412,00"
2,202401.0,202401.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,2.281272e+10,***.504.118-**,KETHELEN SILVA OLIVEIRA DE SOUSA,7.139963e+09,NÃ,"1412,00"
3,202401.0,202401.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.642368e+10,***.586.572-**,MICHAELE MAGALHAES DA SILVA,7.129073e+09,NÃ,"1412,00"
4,202401.0,202401.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.664900e+10,***.997.695-**,SAIURE DOS SANTOS SOUZA,7.127485e+09,NÃ,"1412,00"

In [5]:
cols_removidas = [
    'CÓDIGO MUNICÍPIO SIAFI',
    'NIS BENEFICIÁRIO',
    'CPF BENEFICIÁRIO',
    'NOME BENEFICIÁRIO',
    'NIS REPRESENTANTE LEGAL',
    'CPF REPRESENTANTE LEGAL',
    'NOME REPRESENTANTE LEGAL',
    'NÚMERO BENEFÍCIO'
]

In [6]:
df.dtypes

MÊS COMPETÊNCIA                              float64
MÊS REFERÊNCIA                               float64
UF                                   string[pyarrow]
CÓDIGO MUNICÍPIO SIAFI                       float64
NOME MUNICÍPIO                       string[pyarrow]
NIS BENEFICIÁRIO                             float64
CPF BENEFICIÁRIO                     string[pyarrow]
NOME BENEFICIÁRIO                    string[pyarrow]
NIS REPRESENTANTE LEGAL                      float64
CPF REPRESENTANTE LEGAL              string[pyarrow]
NOME REPRESENTANTE LEGAL             string[pyarrow]
NÚMERO BENEFÍCIO                             float64
BENEFÍCIO CONCEDIDO JUDICIALMENTE    string[pyarrow]
VALOR PARCELA                        string[pyarrow]
dtype: object

In [7]:
df = df.drop(columns=cols_removidas)

In [8]:
df.dtypes

MÊS COMPETÊNCIA                              float64
MÊS REFERÊNCIA                               float64
UF                                   string[pyarrow]
NOME MUNICÍPIO                       string[pyarrow]
BENEFÍCIO CONCEDIDO JUDICIALMENTE    string[pyarrow]
VALOR PARCELA                        string[pyarrow]
dtype: object

In [9]:
dd.to_parquet(
    df, 
    './dados/bpc_2024_parquet/', 
    engine='pyarrow', 
    write_index=False
)