In [1]:
import dask.dataframe as dd

In [2]:
URL = 'C:/Users/lazar/Downloads/*.csv'

In [3]:
df = dd.read_csv(
    URL,
    assume_missing=True,
    sep=';',
    encoding='latin1',
    dtype={'CPF BENEFICIÁRIO': 'object',
           'NOME MUNICÍPIO': 'object',
           'UF': 'object'
    }
)

In [4]:
df.head()

,MÊS COMPETÊNCIA,MÊS REFERÊNCIA,UF,CÓDIGO MUNICÍPIO SIAFI,NOME MUNICÍPIO,NIS BENEFICIÁRIO,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,NIS REPRESENTANTE LEGAL,CPF REPRESENTANTE LEGAL,NOME REPRESENTANTE LEGAL,NÚMERO BENEFÍCIO,BENEFÍCIO CONCEDIDO JUDICIALMENTE,VALOR PARCELA
0,202501.0,202501.0,<NA>,NaN,<NA>,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.175770e+10,***.417.040-**,LONI CAMICIA,7.144531e+09,NÃ,"1518,00"
1,202501.0,202501.0,AC,643.0,ACRELANDIA,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,2.675610e+10,***.932.472-**,MADALENA GAMA DO CARMO,2.074766e+09,SIM,"1518,00"
2,202501.0,202501.0,AC,643.0,ACRELANDIA,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.683579e+10,***.421.872-**,PATRICIA APARECIDA SIMOES DE SOUZA,7.127187e+09,NÃ,"1518,00"
3,202501.0,202501.0,AC,643.0,ACRELANDIA,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,1.683479e+10,***.598.812-**,VALDIRENE PEDROSO SOARES,2.241154e+09,SIM,"1518,00"
4,202501.0,202501.0,AC,643.0,ACRELANDIA,NaN,<NA>,*** TITULAR MENOR DE 16 ANOS ***,2.671746e+10,***.558.072-**,GIRLENE SOUSA DE LIMA,7.105520e+09,NÃ,"1518,00"

In [5]:
cols_removidas = [
    'CÓDIGO MUNICÍPIO SIAFI',
    'NIS BENEFICIÁRIO',
    'CPF BENEFICIÁRIO',
    'NOME BENEFICIÁRIO',
    'NIS REPRESENTANTE LEGAL',
    'CPF REPRESENTANTE LEGAL',
    'NOME REPRESENTANTE LEGAL',
    'NÚMERO BENEFÍCIO'
]

In [6]:
df.dtypes

MÊS COMPETÊNCIA                              float64
MÊS REFERÊNCIA                               float64
UF                                   string[pyarrow]
CÓDIGO MUNICÍPIO SIAFI                       float64
NOME MUNICÍPIO                       string[pyarrow]
NIS BENEFICIÁRIO                             float64
CPF BENEFICIÁRIO                     string[pyarrow]
NOME BENEFICIÁRIO                    string[pyarrow]
NIS REPRESENTANTE LEGAL                      float64
CPF REPRESENTANTE LEGAL              string[pyarrow]
NOME REPRESENTANTE LEGAL             string[pyarrow]
NÚMERO BENEFÍCIO                             float64
BENEFÍCIO CONCEDIDO JUDICIALMENTE    string[pyarrow]
VALOR PARCELA                        string[pyarrow]
dtype: object

In [7]:
df = df.drop(columns=cols_removidas)

In [8]:
df.dtypes

MÊS COMPETÊNCIA                              float64
MÊS REFERÊNCIA                               float64
UF                                   string[pyarrow]
NOME MUNICÍPIO                       string[pyarrow]
BENEFÍCIO CONCEDIDO JUDICIALMENTE    string[pyarrow]
VALOR PARCELA                        string[pyarrow]
dtype: object

In [9]:
dd.to_parquet(
    df, 
    './dados/bpc_2025_ate_mes10_parquet/', 
    engine='pyarrow', 
    write_index=False
)