In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('dados/projecoes_2024_tab2_grupo_quinquenal.xlsx')

In [3]:
df.head()

,GRUPO ETÁRIO,SEXO,CÓD.,SIGLA,LOCAL,2000,2001,2002,2003,2004,...,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070
0,00-04,Ambos,0,BR,Brasil,17281547,17123682,16906493,16640256,16343284,...,8279456,8177111,8079433,7987391,7901241,7820627,7744772,7673320,7606268,7543093
1,05-09,Ambos,0,BR,Brasil,17378990,17390172,17379924,17349975,17303761,...,8820606,8708567,8596707,8485608,8376598,8270750,8168636,8071186,7979360,7893433
2,10-14,Ambos,0,BR,Brasil,17599378,17471598,17382310,17339680,17333773,...,9347726,9246401,9142645,9036015,8926567,8815236,8703349,8591634,8480688,8371817
3,15-19,Ambos,0,BR,Brasil,17831344,17866394,17852790,17786266,17669276,...,9808849,9718189,9626310,9532355,9435826,9336980,9236029,9132638,9026379,8917283
4,20-24,Ambos,0,BR,Brasil,16402228,16826765,17170628,17423254,17594842,...,10227566,10139675,10052257,9964592,9876311,9787218,9697332,9606213,9512994,9417186

In [4]:
df.isna().sum()

GRUPO ETÁRIO    0
SEXO            0
CÓD.            0
SIGLA           0
LOCAL           0
               ..
2066            0
2067            0
2068            0
2069            0
2070            0
Length: 76, dtype: int64

In [5]:
df['SEXO'].unique()

array(['Ambos', 'Homens', 'Mulheres'], dtype=object)

In [6]:
df['LOCAL'].unique()

array(['Brasil', 'Norte', 'Nordeste', 'Sudeste', 'Sul', 'Centro-Oeste',
       'Rondônia', 'Acre', 'Amazonas', 'Roraima', 'Pará', 'Amapá',
       'Tocantins', 'Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte',
       'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia',
       'Minas Gerais', 'Espírito Santo', 'Rio de Janeiro', 'São Paulo',
       'Paraná', 'Santa Catarina', 'Rio Grande do Sul',
       'Mato Grosso do Sul', 'Mato Grosso', 'Goiás', 'Distrito Federal'],
      dtype=object)

In [7]:
df = df.query("LOCAL == 'Brasil' and SEXO == 'Ambos'")

In [8]:
df

,GRUPO ETÁRIO,SEXO,CÓD.,SIGLA,LOCAL,2000,2001,2002,2003,2004,...,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070
0,00-04,Ambos,0,BR,Brasil,17281547,17123682,16906493,16640256,16343284,...,8279456,8177111,8079433,7987391,7901241,7820627,7744772,7673320,7606268,7543093
1,05-09,Ambos,0,BR,Brasil,17378990,17390172,17379924,17349975,17303761,...,8820606,8708567,8596707,8485608,8376598,8270750,8168636,8071186,7979360,7893433
2,10-14,Ambos,0,BR,Brasil,17599378,17471598,17382310,17339680,17333773,...,9347726,9246401,9142645,9036015,8926567,8815236,8703349,8591634,8480688,8371817
3,15-19,Ambos,0,BR,Brasil,17831344,17866394,17852790,17786266,17669276,...,9808849,9718189,9626310,9532355,9435826,9336980,9236029,9132638,9026379,8917283
4,20-24,Ambos,0,BR,Brasil,16402228,16826765,17170628,17423254,17594842,...,10227566,10139675,10052257,9964592,9876311,9787218,9697332,9606213,9512994,9417186
5,25-29,Ambos,0,BR,Brasil,14351864,14615238,14939841,15333558,15782721,...,10657161,10559043,10465176,10374562,10285933,10198288,10111457,10025050,9938368,9851033
6,30-34,Ambos,0,BR,Brasil,13422239,13530676,13661547,13814692,13989822,...,11221599,11081275,10952963,10835096,10725861,10623707,10526805,10434115,10344628,10257091
7,35-39,Ambos,0,BR,Brasil,12466693,12688799,12872622,13023806,13144701,...,12121717,11892098,11692837,11502420,11333424,11180937,11042173,10915331,10798867,10690964
8,40-44,Ambos,0,BR,Brasil,10836458,11142331,11441951,11728336,12004000,...,13684781,13416921,13044377,12663682,12340320,12064272,11837174,11640199,11451958,11284983
9,45-49,Ambos,0,BR,Brasil,9013717,9330172,9647563,9964049,10278114,...,14118175,14078620,14090315,14042429,13831425,13592786,13328611,12960453,12584147,12264651
10,50-54,Ambos,0,BR,Brasil,7227689,7518204,7812619,8110948,8414340,...,13869870,13832551,13806018,13821181,13936635,13977898,13941486,13955818,13911091,13704726
11,55-59,Ambos,0,BR,Brasil,5653867,5851451,6084116,6343976,6619629,...,14366648,14196756,14049490,13922003,13776153,13658891,13626153,13603886,13622706,13740298
12,60-64,Ambos,0,BR,Brasil,4702598,4806742,4903198,5003998,5126643,...,14808832,14696971,14541902,14358200,14175682,14031279,13870773,13732211,13612842,13475317
13,65-69,Ambos,0,BR,Brasil,3678357,3780931,3897847,4021700,4143211,...,14183256,14233271,14273237,14305217,14308164,14256412,14155657,14013198,13843204,13674348
14,70-74,Ambos,0,BR,Brasil,2861050,2921197,2979356,3040807,3111534,...,13218699,13170147,13167169,13202141,13262325,13328119,13383937,13430169,13468689,13479488
15,75-79,Ambos,0,BR,Brasil,1955661,2041751,2122355,2195538,2261401,...,12118258,12129679,12101179,12035921,11955916,11889949,11857963,11866746,11909014,11973325
16,80-84,Ambos,0,BR,Brasil,1148811,1185158,1231463,1284786,1343046,...,9356398,9588685,9767884,9900656,9989699,10041068,10061182,10047775,10004050,9948734
17,85-89,Ambos,0,BR,Brasil,579138,593616,609641,628131,650064,...,5675517,5856452,6065913,6295885,6528516,6740854,6917235,7055638,7161611,7236719
18,90+,Ambos,0,BR,Brasil,304306,318866,331990,343898,355431,...,4180915,4296375,4412972,4531761,4658663,4799820,4957825,5131805,5316511,5504219

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 0 to 18
Data columns (total 76 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   GRUPO ETÁRIO  19 non-null     object
 1   SEXO          19 non-null     object
 2   CÓD.          19 non-null     int64
 3   SIGLA         19 non-null     object
 4   LOCAL         19 non-null     object
 5   2000          19 non-null     int64
 6   2001          19 non-null     int64
 7   2002          19 non-null     int64
 8   2003          19 non-null     int64
 9   2004          19 non-null     int64
 10  2005          19 non-null     int64
 11  2006          19 non-null     int64
 12  2007          19 non-null     int64
 13  2008          19 non-null     int64
 14  2009          19 non-null     int64
 15  2010          19 non-null     int64
 16  2011          19 non-null     int64
 17  2012          19 non-null     int64
 18  2013          19 non-null     int64
 19  2014          19 non-null     int64
 20  2015          19 non-null     int64
 21  2016          19 non-null     int64
 22  2017          19 non-null     int64
 23  2018          19 non-null     int64
 24  2019          19 non-null     int64
 25  2020          19 non-null     int64
 26  2021          19 non-null     int64
 27  2022          19 non-null     int64
 28  2023          19 non-null     int64
 29  2024          19 non-null     int64
 30  2025          19 non-null     int64
 31  2026          19 non-null     int64
 32  2027          19 non-null     int64
 33  2028          19 non-null     int64
 34  2029          19 non-null     int64
 35  2030          19 non-null     int64
 36  2031          19 non-null     int64
 37  2032          19 non-null     int64
 38  2033          19 non-null     int64
 39  2034          19 non-null     int64
 40  2035          19 non-null     int64
 41  2036          19 non-null     int64
 42  2037          19 non-null     int64
 43  2038          19 non-null     int64
 44  2039          19 non-null     int64
 45  2040          19 non-null     int64
 46  2041          19 non-null     int64
 47  2042          19 non-null     int64
 48  2043          19 non-null     int64
 49  2044          19 non-null     int64
 50  2045          19 non-null     int64
 51  2046          19 non-null     int64
 52  2047          19 non-null     int64
 53  2048          19 non-null     int64
 54  2049          19 non-null     int64
 55  2050          19 non-null     int64
 56  2051          19 non-null     int64
 57  2052          19 non-null     int64
 58  2053          19 non-null     int64
 59  2054          19 non-null     int64
 60  2055          19 non-null     int64
 61  2056          19 non-null     int64
 62  2057          19 non-null     int64
 63  2058          19 non-null     int64
 64  2059          19 non-null     int64
 65  2060          19 non-null     int64
 66  2061          19 non-null     int64
 67  2062          19 non-null     int64
 68  2063          19 non-null     int64
 69  2064          19 non-null     int64
 70  2065          19 non-null     int64
 71  2066          19 non-null     int64
 72  2067          19 non-null     int64
 73  2068          19 non-null     int64
 74  2069          19 non-null     int64
 75  2070          19 non-null     int64
dtypes: int64(72), object(4)
memory usage: 11.4+ KB

In [10]:
df = df.iloc[:, 5:]

In [11]:
df.columns

Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035,
       2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047,
       2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059,
       2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070],
      dtype='object')

In [12]:
df_tidy = df[df.columns].sum().to_frame('populacao').reset_index().rename(columns={
    "index": "ano"
})

In [13]:
df_tidy

     ano  populacao
0   2000  174695935
1   2001  177003743
2   2002  179228254
3   2003  181377654
4   2004  183469593
..   ...        ...
66  2066  204415091
67  2067  203168549
68  2068  201887385
69  2069  200573375
70  2070  199228708

[71 rows x 2 columns]