In [1]:
import polars as pl

In [2]:
pl.Config.set_tbl_cols(-1)
pl.Config.set_tbl_rows(-1)

polars.config.Config

# 1. ETL & DATA WANGLING

In [3]:
df = pl.scan_parquet('dados_parquet/*/*.parquet').collect()

In [4]:
df.head()

shape: (5, 15)
┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┬────────┬───────┬───────┬───────┐
│ ANO ┆ PES ┆ ALT ┆ MUN ┆ UF_ ┆ PAI ┆ EST ┆ SEX ┆ ESC ┆ VIN ┆ DIS ┆ ZONA_R ┆ MUN_R ┆ UF_RE ┆ PAIS_ │
│ _NA ┆ O   ┆ URA ┆ _NA ┆ NAS ┆ S_N ┆ ADO ┆ O   ┆ OLA ┆ CUL ┆ PEN ┆ ESIDEN ┆ ESIDE ┆ SIDEN ┆ RESID │
│ SCI ┆ --- ┆ --- ┆ SCI ┆ CIM ┆ ASC ┆ _CI ┆ --- ┆ RID ┆ ACA ┆ SA  ┆ CIAL   ┆ NCIA  ┆ CIA   ┆ ENCIA │
│ MEN ┆ str ┆ str ┆ MEN ┆ ENT ┆ IME ┆ VIL ┆ str ┆ ADE ┆ O_A ┆ --- ┆ ---    ┆ ---   ┆ ---   ┆ ---   │
│ TO  ┆     ┆     ┆ TO  ┆ O   ┆ NTO ┆ --- ┆     ┆ --- ┆ NO  ┆ str ┆ str    ┆ str   ┆ str   ┆ str   │
│ --- ┆     ┆     ┆ --- ┆ --- ┆ --- ┆ str ┆     ┆ str ┆ --- ┆     ┆        ┆       ┆       ┆       │
│ str ┆     ┆     ┆ str ┆ str ┆ str ┆     ┆     ┆     ┆ str ┆     ┆        ┆       ┆       ┆       │
╞═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╪════════╪═══════╪═══════╪═══════╡
│ 198 ┆ 95  ┆ 181 ┆ DES ┆ SP  ┆ BRA ┆ Sol ┆ M   ┆ Ens ┆ 200 ┆ Sem ┆ Urbana ┆ PIRAS ┆ SP    ┆ BRASI │
│ 9   ┆     ┆     ┆ CAL ┆     ┆ SIL ┆ tei ┆     ┆ ino ┆ 7   ┆ dis ┆        ┆ SUNUN ┆       ┆ L     │
│     ┆     ┆     ┆ VAD ┆     ┆     ┆ ro  ┆     ┆ Méd ┆     ┆ pen ┆        ┆ GA    ┆       ┆       │
│     ┆     ┆     ┆ O   ┆     ┆     ┆     ┆     ┆ io  ┆     ┆ sa  ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Com ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ ple ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ to  ┆     ┆     ┆        ┆       ┆       ┆       │
│ 198 ┆ 64  ┆ 173 ┆ CAT ┆ SP  ┆ BRA ┆ Cas ┆ M   ┆ Ens ┆ 200 ┆ Sem ┆ Urbana ┆ SAO   ┆ SP    ┆ BRASI │
│ 9   ┆     ┆     ┆ AND ┆     ┆ SIL ┆ ado ┆     ┆ ino ┆ 7   ┆ dis ┆        ┆ PAULO ┆       ┆ L     │
│     ┆     ┆     ┆ UVA ┆     ┆     ┆     ┆     ┆ Sup ┆     ┆ pen ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ eri ┆     ┆ sa  ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ or  ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Com ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ ple ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ to  ┆     ┆     ┆        ┆       ┆       ┆       │
│ 198 ┆ 82  ┆ 171 ┆ CAT ┆ SP  ┆ BRA ┆ Sol ┆ M   ┆ Ens ┆ 200 ┆ Sem ┆ Urbana ┆ CATAN ┆ SP    ┆ BRASI │
│ 9   ┆     ┆     ┆ AND ┆     ┆ SIL ┆ tei ┆     ┆ ino ┆ 7   ┆ dis ┆        ┆ DUVA  ┆       ┆ L     │
│     ┆     ┆     ┆ UVA ┆     ┆     ┆ ro  ┆     ┆ Méd ┆     ┆ pen ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ io  ┆     ┆ sa  ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Com ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ ple ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ to  ┆     ┆     ┆        ┆       ┆       ┆       │
│ 198 ┆ nul ┆ nul ┆ SAN ┆ SP  ┆ BRA ┆ Sol ┆ M   ┆ Ens ┆ 200 ┆ Sem ┆ Urbana ┆ PIRAJ ┆ SP    ┆ BRASI │
│ 9   ┆ l   ┆ l   ┆ TO  ┆     ┆ SIL ┆ tei ┆     ┆ ino ┆ 7   ┆ dis ┆        ┆ UI    ┆       ┆ L     │
│     ┆     ┆     ┆ AND ┆     ┆     ┆ ro  ┆     ┆ Méd ┆     ┆ pen ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆ RE  ┆     ┆     ┆     ┆     ┆ io  ┆     ┆ sa  ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Com ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ ple ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ to  ┆     ┆     ┆        ┆       ┆       ┆       │
│ 198 ┆ nul ┆ nul ┆ PIR ┆ SP  ┆ BRA ┆ Sol ┆ M   ┆ 3ª  ┆ 200 ┆ Sem ┆ Urbana ┆ PIRAJ ┆ SP    ┆ BRASI │
│ 9   ┆ l   ┆ l   ┆ AJU ┆     ┆ SIL ┆ tei ┆     ┆ Sér ┆ 7   ┆ dis ┆        ┆ UI    ┆       ┆ L     │
│     ┆     ┆     ┆ I   ┆     ┆     ┆ ro  ┆     ┆ ie  ┆     ┆ pen ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ do  ┆     ┆ sa  ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Ens ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ ino ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ Méd ┆     ┆     ┆        ┆       ┆       ┆       │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆     ┆ io  ┆     ┆     ┆        ┆       ┆       ┆       │
└─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┴────────┴───────┴───────┴───────┘

In [5]:
df.shape

(26569408, 15)

In [6]:
for col in df.columns:
    tem_nulos = df.select(
        pl.col(col).null_count()
    ).item()
    if (tem_nulos > 0):
        print(f'Coluna {col} tem {tem_nulos} valores nulos.')

Coluna PESO tem 18598039 valores nulos.
Coluna ALTURA tem 18588096 valores nulos.
Coluna DISPENSA tem 474630 valores nulos.

In [7]:
print(df.select('DISPENSA').unique().to_series().to_list())

[None, 'Sem dispensa', 'null', 'Com dispensa']

In [8]:
for col in df.columns:
    df = df.with_columns(
        pl.col(col).replace('null', None)
    )

In [9]:
df = df.filter(
    pl.col('DISPENSA').is_not_null()
).with_columns(
    foi_convocado = pl.when(
        pl.col('DISPENSA') == 'Com dispensa'
    ).then(True).otherwise(False)
).drop('DISPENSA')

In [10]:
print(df.select('foi_convocado').unique().to_series().to_list())

[False, True]

In [11]:
for col in df.columns:
    tem_nulos = df.select(
        pl.col(col).null_count()
    ).item()
    if (tem_nulos > 0):
        print(f'Coluna {col} tem {tem_nulos} valores nulos.')

Coluna PESO tem 19733882 valores nulos.
Coluna ALTURA tem 19773653 valores nulos.

In [12]:
df.group_by('VINCULACAO_ANO').agg(
    (((pl.col('PESO').null_count().sum() / pl.col('PESO').len()) * 100).round(2)).alias('peso_qtd_nulos (%)'),
    (((pl.col('ALTURA').null_count().sum() / pl.col('ALTURA').len()) * 100).round(2)).alias('altura_qtd_nulos (%)')
)

shape: (18, 3)
┌────────────────┬────────────────────┬──────────────────────┐
│ VINCULACAO_ANO ┆ peso_qtd_nulos (%) ┆ altura_qtd_nulos (%) │
│ ---            ┆ ---                ┆ ---                  │
│ str            ┆ f64                ┆ f64                  │
╞════════════════╪════════════════════╪══════════════════════╡
│ 2015           ┆ 79.52              ┆ 79.52                │
│ 2012           ┆ 81.24              ┆ 81.24                │
│ 2007           ┆ 81.15              ┆ 80.7                 │
│ 2018           ┆ 68.11              ┆ 68.11                │
│ 2022           ┆ 70.52              ┆ 70.52                │
│ 2021           ┆ 67.53              ┆ 67.53                │
│ 2017           ┆ 62.64              ┆ 62.6                 │
│ 2011           ┆ 79.71              ┆ 79.71                │
│ 2009           ┆ 78.75              ┆ 78.74                │
│ 2020           ┆ 68.1               ┆ 68.12                │
│ 2023           ┆ 56.78              ┆ 56.78                │
│ 2016           ┆ 79.34              ┆ 79.35                │
│ 2010           ┆ 79.92              ┆ 79.92                │
│ 2024           ┆ 61.13              ┆ 61.13                │
│ 2019           ┆ 72.37              ┆ 75.73                │
│ 2013           ┆ 80.15              ┆ 80.15                │
│ 2014           ┆ 80.2               ┆ 80.19                │
│ 2008           ┆ 81.6               ┆ 81.47                │
└────────────────┴────────────────────┴──────────────────────┘

In [13]:
df = df.drop(['PESO', 'ALTURA'])

In [14]:
df.head()

shape: (5, 13)
┌─────┬─────┬─────┬────────┬────────┬──────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ ANO ┆ MUN ┆ UF_ ┆ PAIS_N ┆ ESTADO ┆ SEXO ┆ ESCOL ┆ VINCU ┆ ZONA_ ┆ MUN_R ┆ UF_RE ┆ PAIS_ ┆ foi_c │
│ _NA ┆ _NA ┆ NAS ┆ ASCIME ┆ _CIVIL ┆ ---  ┆ ARIDA ┆ LACAO ┆ RESID ┆ ESIDE ┆ SIDEN ┆ RESID ┆ onvoc │
│ SCI ┆ SCI ┆ CIM ┆ NTO    ┆ ---    ┆ str  ┆ DE    ┆ _ANO  ┆ ENCIA ┆ NCIA  ┆ CIA   ┆ ENCIA ┆ ado   │
│ MEN ┆ MEN ┆ ENT ┆ ---    ┆ str    ┆      ┆ ---   ┆ ---   ┆ L     ┆ ---   ┆ ---   ┆ ---   ┆ ---   │
│ TO  ┆ TO  ┆ O   ┆ str    ┆        ┆      ┆ str   ┆ str   ┆ ---   ┆ str   ┆ str   ┆ str   ┆ bool  │
│ --- ┆ --- ┆ --- ┆        ┆        ┆      ┆       ┆       ┆ str   ┆       ┆       ┆       ┆       │
│ str ┆ str ┆ str ┆        ┆        ┆      ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
╞═════╪═════╪═════╪════════╪════════╪══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 198 ┆ DES ┆ SP  ┆ BRASIL ┆ Soltei ┆ M    ┆ Ensin ┆ 2007  ┆ Urban ┆ PIRAS ┆ SP    ┆ BRASI ┆ false │
│ 9   ┆ CAL ┆     ┆        ┆ ro     ┆      ┆ o     ┆       ┆ a     ┆ SUNUN ┆       ┆ L     ┆       │
│     ┆ VAD ┆     ┆        ┆        ┆      ┆ Médio ┆       ┆       ┆ GA    ┆       ┆       ┆       │
│     ┆ O   ┆     ┆        ┆        ┆      ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ BRASIL ┆ Casado ┆ M    ┆ Ensin ┆ 2007  ┆ Urban ┆ SAO   ┆ SP    ┆ BRASI ┆ false │
│ 9   ┆ AND ┆     ┆        ┆        ┆      ┆ o Sup ┆       ┆ a     ┆ PAULO ┆       ┆ L     ┆       │
│     ┆ UVA ┆     ┆        ┆        ┆      ┆ erior ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ BRASIL ┆ Soltei ┆ M    ┆ Ensin ┆ 2007  ┆ Urban ┆ CATAN ┆ SP    ┆ BRASI ┆ false │
│ 9   ┆ AND ┆     ┆        ┆ ro     ┆      ┆ o     ┆       ┆ a     ┆ DUVA  ┆       ┆ L     ┆       │
│     ┆ UVA ┆     ┆        ┆        ┆      ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ SAN ┆ SP  ┆ BRASIL ┆ Soltei ┆ M    ┆ Ensin ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ BRASI ┆ false │
│ 9   ┆ TO  ┆     ┆        ┆ ro     ┆      ┆ o     ┆       ┆ a     ┆ UI    ┆       ┆ L     ┆       │
│     ┆ AND ┆     ┆        ┆        ┆      ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ RE  ┆     ┆        ┆        ┆      ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ PIR ┆ SP  ┆ BRASIL ┆ Soltei ┆ M    ┆ 3ª    ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ BRASI ┆ false │
│ 9   ┆ AJU ┆     ┆        ┆ ro     ┆      ┆ Série ┆       ┆ a     ┆ UI    ┆       ┆ L     ┆       │
│     ┆ I   ┆     ┆        ┆        ┆      ┆ do    ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ Ensin ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ o     ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆        ┆      ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       │
└─────┴─────┴─────┴────────┴────────┴──────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [15]:
schema_map = {
    'ANO_NASCIMENTO': pl.Int16,
    'MUN_NASCIMENTO': pl.Categorical,
    'UF_NASCIMENTO': pl.Categorical,
    'MUN_RESIDENCIA': pl.Categorical,
    'UF_RESIDENCIA': pl.Categorical,
}

In [16]:
df = df.with_columns(
    [pl.col(col).cast(dtypes) for col, dtypes in schema_map.items()]
).with_columns(
    nasceu_no_brasil = pl.when(
        pl.col('PAIS_NASCIMENTO') == 'Brasil'
    ).then(True).otherwise(False),
    reside_no_brasil = pl.when(
        pl.col('PAIS_RESIDENCIA') == 'Brasil'
    ).then(True).otherwise(False)
).drop(['PAIS_NASCIMENTO', 'PAIS_RESIDENCIA'])

In [17]:
df.head()

shape: (5, 13)
┌─────┬─────┬─────┬────────┬──────┬────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ ANO ┆ MUN ┆ UF_ ┆ ESTADO ┆ SEXO ┆ ESCOLA ┆ VINCU ┆ ZONA_ ┆ MUN_R ┆ UF_RE ┆ foi_c ┆ nasce ┆ resid │
│ _NA ┆ _NA ┆ NAS ┆ _CIVIL ┆ ---  ┆ RIDADE ┆ LACAO ┆ RESID ┆ ESIDE ┆ SIDEN ┆ onvoc ┆ u_no_ ┆ e_no_ │
│ SCI ┆ SCI ┆ CIM ┆ ---    ┆ str  ┆ ---    ┆ _ANO  ┆ ENCIA ┆ NCIA  ┆ CIA   ┆ ado   ┆ brasi ┆ brasi │
│ MEN ┆ MEN ┆ ENT ┆ str    ┆      ┆ str    ┆ ---   ┆ L     ┆ ---   ┆ ---   ┆ ---   ┆ l     ┆ l     │
│ TO  ┆ TO  ┆ O   ┆        ┆      ┆        ┆ str   ┆ ---   ┆ cat   ┆ cat   ┆ bool  ┆ ---   ┆ ---   │
│ --- ┆ --- ┆ --- ┆        ┆      ┆        ┆       ┆ str   ┆       ┆       ┆       ┆ bool  ┆ bool  │
│ i16 ┆ cat ┆ cat ┆        ┆      ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
╞═════╪═════╪═════╪════════╪══════╪════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 198 ┆ DES ┆ SP  ┆ Soltei ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ PIRAS ┆ SP    ┆ false ┆ false ┆ false │
│ 9   ┆ CAL ┆     ┆ ro     ┆      ┆ Médio  ┆       ┆ a     ┆ SUNUN ┆       ┆       ┆       ┆       │
│     ┆ VAD ┆     ┆        ┆      ┆ Comple ┆       ┆       ┆ GA    ┆       ┆       ┆       ┆       │
│     ┆ O   ┆     ┆        ┆      ┆ to     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Casado ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ SAO   ┆ SP    ┆ false ┆ false ┆ false │
│ 9   ┆ AND ┆     ┆        ┆      ┆ Superi ┆       ┆ a     ┆ PAULO ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆      ┆ or Com ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ pleto  ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Soltei ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ CATAN ┆ SP    ┆ false ┆ false ┆ false │
│ 9   ┆ AND ┆     ┆ ro     ┆      ┆ Médio  ┆       ┆ a     ┆ DUVA  ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆      ┆ Comple ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ to     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ SAN ┆ SP  ┆ Soltei ┆ M    ┆ Ensino ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ false ┆ false ┆ false │
│ 9   ┆ TO  ┆     ┆ ro     ┆      ┆ Médio  ┆       ┆ a     ┆ UI    ┆       ┆       ┆       ┆       │
│     ┆ AND ┆     ┆        ┆      ┆ Comple ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ RE  ┆     ┆        ┆      ┆ to     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ PIR ┆ SP  ┆ Soltei ┆ M    ┆ 3ª     ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ false ┆ false ┆ false │
│ 9   ┆ AJU ┆     ┆ ro     ┆      ┆ Série  ┆       ┆ a     ┆ UI    ┆       ┆       ┆       ┆       │
│     ┆ I   ┆     ┆        ┆      ┆ do     ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ Ensino ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆      ┆ Médio  ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
└─────┴─────┴─────┴────────┴──────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [18]:
print(df.select('ESTADO_CIVIL').unique().to_series().to_list())

['Desquitado', 'Divorciado', 'Casado', 'Solteiro', 'Separado Judicialmente', 'Outros', 'Viúvo', 'ViÃºvo']

In [19]:
df = df.with_columns(
    pl.col('ESTADO_CIVIL').replace({
        'ViÃºvo': 'Viúvo',
        'Separado Judicialmente': 'Divorciado',
        'Desquitado': 'Divorciado'
    })
)

In [20]:
print(df.select('ESTADO_CIVIL').unique().to_series().to_list())

['Outros', 'Solteiro', 'Viúvo', 'Casado', 'Divorciado']

In [21]:
print(df.select('SEXO').unique().to_series().to_list())

['M', 'F']

In [22]:
df = df.with_columns(
    e_homem = pl.when(
        pl.col('SEXO') == "M"
    ).then(True).otherwise(False)
).drop('SEXO')

In [23]:
print(df.select('e_homem').unique().to_series().to_list())

[False, True]

In [24]:
df.head()

shape: (5, 13)
┌─────┬─────┬─────┬────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ ANO ┆ MUN ┆ UF_ ┆ ESTADO ┆ ESCOL ┆ VINCU ┆ ZONA_ ┆ MUN_R ┆ UF_RE ┆ foi_c ┆ nasce ┆ resid ┆ e_hom │
│ _NA ┆ _NA ┆ NAS ┆ _CIVIL ┆ ARIDA ┆ LACAO ┆ RESID ┆ ESIDE ┆ SIDEN ┆ onvoc ┆ u_no_ ┆ e_no_ ┆ em    │
│ SCI ┆ SCI ┆ CIM ┆ ---    ┆ DE    ┆ _ANO  ┆ ENCIA ┆ NCIA  ┆ CIA   ┆ ado   ┆ brasi ┆ brasi ┆ ---   │
│ MEN ┆ MEN ┆ ENT ┆ str    ┆ ---   ┆ ---   ┆ L     ┆ ---   ┆ ---   ┆ ---   ┆ l     ┆ l     ┆ bool  │
│ TO  ┆ TO  ┆ O   ┆        ┆ str   ┆ str   ┆ ---   ┆ cat   ┆ cat   ┆ bool  ┆ ---   ┆ ---   ┆       │
│ --- ┆ --- ┆ --- ┆        ┆       ┆       ┆ str   ┆       ┆       ┆       ┆ bool  ┆ bool  ┆       │
│ i16 ┆ cat ┆ cat ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
╞═════╪═════╪═════╪════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 198 ┆ DES ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ Urban ┆ PIRAS ┆ SP    ┆ false ┆ false ┆ false ┆ true  │
│ 9   ┆ CAL ┆     ┆ ro     ┆ o     ┆       ┆ a     ┆ SUNUN ┆       ┆       ┆       ┆       ┆       │
│     ┆ VAD ┆     ┆        ┆ Médio ┆       ┆       ┆ GA    ┆       ┆       ┆       ┆       ┆       │
│     ┆ O   ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Casado ┆ Ensin ┆ 2007  ┆ Urban ┆ SAO   ┆ SP    ┆ false ┆ false ┆ false ┆ true  │
│ 9   ┆ AND ┆     ┆        ┆ o Sup ┆       ┆ a     ┆ PAULO ┆       ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆ erior ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ Urban ┆ CATAN ┆ SP    ┆ false ┆ false ┆ false ┆ true  │
│ 9   ┆ AND ┆     ┆ ro     ┆ o     ┆       ┆ a     ┆ DUVA  ┆       ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ SAN ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ false ┆ false ┆ false ┆ true  │
│ 9   ┆ TO  ┆     ┆ ro     ┆ o     ┆       ┆ a     ┆ UI    ┆       ┆       ┆       ┆       ┆       │
│     ┆ AND ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ RE  ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ PIR ┆ SP  ┆ Soltei ┆ 3ª    ┆ 2007  ┆ Urban ┆ PIRAJ ┆ SP    ┆ false ┆ false ┆ false ┆ true  │
│ 9   ┆ AJU ┆     ┆ ro     ┆ Série ┆       ┆ a     ┆ UI    ┆       ┆       ┆       ┆       ┆       │
│     ┆ I   ┆     ┆        ┆ do    ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Ensin ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ o     ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
└─────┴─────┴─────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [25]:
df = df.with_columns(
    pl.col('VINCULACAO_ANO').cast(pl.Int16)
)

In [26]:
print(df.select('ZONA_RESIDENCIAL').unique().to_series().to_list())

['Rural', 'Urbana']

In [27]:
df = df.with_columns(
    reside_em_zona_urbana = pl.when(
        pl.col('ZONA_RESIDENCIAL') == 'Urbana'
    ).then(True).otherwise(False)
).drop('ZONA_RESIDENCIAL')

In [28]:
print(df.select('reside_em_zona_urbana').unique().to_series().to_list())

[False, True]

In [29]:
df.head()

shape: (5, 13)
┌─────┬─────┬─────┬────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ ANO ┆ MUN ┆ UF_ ┆ ESTADO ┆ ESCOL ┆ VINCU ┆ MUN_R ┆ UF_RE ┆ foi_c ┆ nasce ┆ resid ┆ e_hom ┆ resid │
│ _NA ┆ _NA ┆ NAS ┆ _CIVIL ┆ ARIDA ┆ LACAO ┆ ESIDE ┆ SIDEN ┆ onvoc ┆ u_no_ ┆ e_no_ ┆ em    ┆ e_em_ │
│ SCI ┆ SCI ┆ CIM ┆ ---    ┆ DE    ┆ _ANO  ┆ NCIA  ┆ CIA   ┆ ado   ┆ brasi ┆ brasi ┆ ---   ┆ zona_ │
│ MEN ┆ MEN ┆ ENT ┆ str    ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ ---   ┆ l     ┆ l     ┆ bool  ┆ urban │
│ TO  ┆ TO  ┆ O   ┆        ┆ str   ┆ i16   ┆ cat   ┆ cat   ┆ bool  ┆ ---   ┆ ---   ┆       ┆ a     │
│ --- ┆ --- ┆ --- ┆        ┆       ┆       ┆       ┆       ┆       ┆ bool  ┆ bool  ┆       ┆ ---   │
│ i16 ┆ cat ┆ cat ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆ bool  │
╞═════╪═════╪═════╪════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ 198 ┆ DES ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ PIRAS ┆ SP    ┆ false ┆ false ┆ false ┆ true  ┆ true  │
│ 9   ┆ CAL ┆     ┆ ro     ┆ o     ┆       ┆ SUNUN ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ VAD ┆     ┆        ┆ Médio ┆       ┆ GA    ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ O   ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Casado ┆ Ensin ┆ 2007  ┆ SAO   ┆ SP    ┆ false ┆ false ┆ false ┆ true  ┆ true  │
│ 9   ┆ AND ┆     ┆        ┆ o Sup ┆       ┆ PAULO ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆ erior ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ CAT ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ CATAN ┆ SP    ┆ false ┆ false ┆ false ┆ true  ┆ true  │
│ 9   ┆ AND ┆     ┆ ro     ┆ o     ┆       ┆ DUVA  ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ UVA ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ SAN ┆ SP  ┆ Soltei ┆ Ensin ┆ 2007  ┆ PIRAJ ┆ SP    ┆ false ┆ false ┆ false ┆ true  ┆ true  │
│ 9   ┆ TO  ┆     ┆ ro     ┆ o     ┆       ┆ UI    ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ AND ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ RE  ┆     ┆        ┆ Compl ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ eto   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 198 ┆ PIR ┆ SP  ┆ Soltei ┆ 3ª    ┆ 2007  ┆ PIRAJ ┆ SP    ┆ false ┆ false ┆ false ┆ true  ┆ true  │
│ 9   ┆ AJU ┆     ┆ ro     ┆ Série ┆       ┆ UI    ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆ I   ┆     ┆        ┆ do    ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Ensin ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ o     ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│     ┆     ┆     ┆        ┆ Médio ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
└─────┴─────┴─────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

In [30]:
print(df.select('ESCOLARIDADE').unique().to_series().to_list())

['3ª Série do Ensino Médio', '9° Ano - Ensino Fundamental', '5Â° Semestre - Ensino Superior', '8Â° Ano - Ensino Fundamental', '9Â° Semestre - Ensino Superior', '4Â° Ano - Ensino Fundamental', '2ª Série do Ensino Fundamental', '2Â° Ano - Ensino Fundamental', '10Â° Semestre - Ensino Superior', '4° Ano - Ensino Fundamental', '5Â° Ano - Ensino Fundamental', '6ª Série do Ensino Fundamental', '7ª Série do Ensino Fundamental', '8° Ano - Ensino Fundamental', '1° Semestre do Ensino Superior', '1ª Série do Ensino Fundamental', '7° Ano - Ensino Fundamental', '8ª Série do Ensino Fundamental', '6Â° Semestre - Ensino Superior', '4° Semestre - Ensino Superior', '8° Semestre do Ensino Superior', '7° Semestre do Ensino Superior', '9° Semestre - Ensino Superior', '10° Semestre - Ensino Superior', '1Â° Semestre - Ensino Superior', '1° Ano - Ensino Fundamental', 'Doutorado', '1Â° Ano - Ensino MÃ©dio', '4Â° Ano - Ensino MÃ©dio (Profissionalizante)', '6Â° Ano - Ensino Fundamental', '6° Semestre do Ensino Superior', 'PÃ³s-Doutorado', '3Â° Ano - Ensino MÃ©dio', '2Â° Semestre - Ensino Superior', '3° Semestre do Ensino Superior', '3Â° Ano - Ensino Fundamental', 'Ensino Médio Completo', '2° Semestre - Ensino Superior', '9Â° Ano - Ensino Fundamental', '5° Ano - Ensino Fundamental', '2° Ano - Ensino Médio', '5ª Série do Ensino Fundamental', '4ª Série do Ensino Médio', '4ª Série do Ensino Fundamental', '9ª Série do Ensino Fundamental', '2ª Série do Ensino Médio', 'Ensino Fundamental Completo', '7° Semestre - Ensino Superior', '2° Semestre do Ensino Superior', 'Mestrado', 'Analfabeto', '9° Semestre do Ensino Superior', '1° Semestre - Ensino Superior', '3° Semestre - Ensino Superior', '5° Semestre do Ensino Superior', '10° Semestre do Ensino Superior', '3° Ano - Ensino Médio', 'Alfabetizado', '2Â° Ano - Ensino MÃ©dio', '7Â° Semestre - Ensino Superior', '3Â° Semestre - Ensino Superior', '4Â° Semestre - Ensino Superior', 'PÃ³s-GraduaÃ§â\x95\x9eo', '7Â° Ano - Ensino Fundamental', '5° Semestre - Ensino Superior', 'PÃ³s-GraduaÃ§Ã£o', 'Pós-Graduação', '6° Semestre - Ensino Superior', '2° Ano - Ensino Fundamental', '1° Ano - Ensino Médio', '8Â° Semestre - Ensino Superior', '4° Semestre do Ensino Superior', 'Pós-Doutorado', 'Ensino Superior Completo', '3ª Série do Ensino Fundamental', '4° Ano - Ensino Médio (Profissionalizante)', 'Ensino MÃ©dio Completo', '1ª Série do Ensino Médio', '8° Semestre - Ensino Superior', '6° Ano - Ensino Fundamental', '1Â° Ano - Ensino Fundamental', '3° Ano - Ensino Fundamental']

In [31]:
df = df.with_columns(
    pl.col('ESCOLARIDADE').str.replace_many({
        'Â°': 'º',
        'Ã³': 'ó',
        'Ã§Ã£': 'çã',
        'Ã§â\x95\x9eo': 'ção',
        'Ã©': 'é'
    }, ascii_case_insensitive=True)
)

In [32]:
escolaridade = {
    'analfalbetismo': ['Analfabeto'],
    'alfabetizacao': ['Alfabetizado'],
    'ensino_fundamental': [
        '1º Ano - Ensino Fundamental', '2º Ano - Ensino Fundamental', 
        '3º Ano - Ensino Fundamental', '4º Ano - Ensino Fundamental', 
        '5º Ano - Ensino Fundamental', '6º Ano - Ensino Fundamental', 
        '7º Ano - Ensino Fundamental', '8º Ano - Ensino Fundamental', 
        '9º Ano - Ensino Fundamental', 'Ensino Fundamental Completo'
    ],
    'ensino_medio': [
        '1º Ano - Ensino Médio', '2º Ano - Ensino Médio', 
        '3º Ano - Ensino Médio', '4º Ano - Ensino Médio (Profissionalizante)', 
        'Ensino Médio Completo'
    ],
    'graduacao': [
        '1º Semestre - Ensino Superior', '2º Semestre - Ensino Superior', 
        '3º Semestre - Ensino Superior', '4º Semestre - Ensino Superior', 
        '5º Semestre - Ensino Superior', '6º Semestre - Ensino Superior', 
        '7º Semestre - Ensino Superior', '8º Semestre - Ensino Superior', 
        '9º Semestre - Ensino Superior', '10º Semestre - Ensino Superior', 
        'Ensino Superior Completo'
    ],
    'pos_graduacao': [
        'Pós-Graduação', 
        'Mestrado', 
        'Doutorado', 
        'Pós-Doutorado'
    ]
}

In [33]:
ordem_escolaridade = [
    'Analfabeto',
    'Alfabetizado',
    'Ensino Fundamental',
    'Ensino Médio',
    'Graduação',
    'Pós-Graduação'
]

# 2. EDA

# 3. ML

## 3.1 CLUSTERIZAÇÃO: KMEANS OU DBSCAN

## 3.2 REGRESSÃO LOGÍSTICA